.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */

.secondary-bg{
    background-color: #FFF8F3; 
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.text-center {
    text-align: center;
}

/* Header styles */
.header {
    background-image: url('../images/developer.png') , url('../images/header_bg.png'); 
    background-repeat: no-repeat;
    background-position: top left , bottom right; 
}

/* Nav styles */
nav {
    display: flex;
    align-items: center;
    /* vertically center korar jonno */
    justify-content: space-between;
    /* left theke right e space create korar jonno */
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    /* ExtraBold deya Figma te */
    font-size: 45px;
    /* figma te 45px deya */
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

.btn-primary {
    background-color: #FD6E0A;
    padding: 18px 36px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

/* banner styles */

.banner{
    display: flex; 
    justify-content: space-between;
    margin: 0 35px 0 230px ;  
}

.banner-content{
    max-width: 580px; 
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    /* In CSS, **`font-weight: semi-bold;` is not valid**.
    
    The **numeric value for semibold is:**
    
    ```
    font-weight: 600;
    ```
    
    ### Common font-weight numbers:
    
    ```
    100 – Thin  
    200 – Extra Light  
    300 – Light  
    400 – Normal (default)  
    500 – Medium  
    600 – Semi-Bold  
    700 – Bold  
    800 – Extra Bold  
    900 – Black
    ```
    
    ### Example:
    
    ```css
    h2 {
      font-weight: 600;
    }
    ```
    
    ⚠️ **Note:** The font you’re using must support that weight. If it doesn’t, the browser will fall back to the nearest available weight.
    
    If you want, tell me which font you’re using (e.g., Poppins, Roboto), and I’ll confirm the exact supported weights.
     */
}

.banner-title{
    color: #181818; 
    font-size: 85px;
    font-weight: bold;
}

.banner-description{
    color: #757575;
    font-size: 18px; 
    font-weight: 400;
}

.banner-profile-pic{
    width: 580px; 
}

/* main styles */

main{
    max-width: 1140px; 
    margin: 0 auto; 
}

main section{
    margin-top: 130px;
    margin-bottom: 130px; 
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818; 
}
.section-description{
    font-size: 18px; 
    font-weight: 400; 
    color: #757575; 
    /* margin-top: 15px;  */
}

/* about me styles */

.about-me{
    border-radius: 10px;
    padding: 130px 150px; 
    text-align: center; 
    /* margin-top: 130px;  */
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-size: 20px; 
    font-weight: 400; 
    color: #757575; 
}

.item-description{
    font-size: 20px; 
    font-weight: bold; 
    /* color: #181818;  */
    /* margin-top: 15px;  */
}

/* skills section styles */

.skills-container{
    display: flex; 
    gap: 24px; 
}

.skill{
    padding: 30px; 
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); 
    border-radius: 5px; 
}

/* resume section styles */

.resume-title{
    font-size: 35px; 
    font-weight: bold; 
    color: #181818; 
}

.resume-container{
    display: flex; 
    gap: 24px; 
}

.experience-sub-title{
    font-size: 20px;
    font-weight: 600;  
    margin-bottom: 20px; 
}

.experience-description, .experience-sub-title{
    color: #757575; 
}

.resume hr{
    margin: 30px 5px; 
}

.resume-download-cv{
    margin-top: 50px; 
}

/* footer styles */

footer{
    /* margin: 20%;  */ 
    /* margin dile background color choto hoye jabe ei jaygay */
    padding: 130px 230px; 
    display: flex;
    gap: 117px; 
}

.footer-column{
    width: 50%; 
}

/* .meow{
    display: flex;
    flex-direction: column;
    gap: 24px;
} */

footer  input[type="text"] , footer input[type="email"] , footer textarea{
    height: 64px;
    width: 461px; 
    border-radius: 5px; 
    background-color: #FFFFFF; 
    display: block;
    /* width: 100%; */
    border: none; 
    font-size: 16px; 
    font-weight: normal; 
    color: #757575; 
    padding: 18px 349px 18px 30px;  
    margin-bottom: 24px;
}